@font-face {
   font-family: "VoodooFont";
   src: url("fonts/graveyard-guardian.regular.ttf") format('truetype');
}

#VoodooGreenHouseTitle {
   font-family: "VoodooFont", sans-serif;
   font-size: 100px;
   background-color: #f5f5f5;
   box-shadow: 0px 0px 25px 25px #f5f5f5;
}

#confirm {
    display: none;
    background-color: rgb(194, 195, 251);
    border: 1px solid green;
    position: fixed;
    height: 80px;
    width: 250px;
    left: 40%;
    top: 2%;
    padding: 6px 8px 8px;
    text-align: center;
 }
 p {
    font-size: 18px;
    color: red;
 }
 button {
    border-radius: 12px;
    height: 2rem;
    padding: 7px 10px;
    cursor: pointer;
    border: 2px solid green;
    background-color: aqua;
    margin: 5px;
 }
 .close {
    display: flex;
    position: absolute;
    right: 20px;
    bottom: 0px;
 }

 /* https://www.tutorialspoint.com/How-to-change-button-label-in-confirm-box-using-JavaScript */